* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    height: 48px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
    z-index: 2;
    background-color: #000;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 48px;
}

.view1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgray;
    color: #000;
}

.view1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    margin: 10px;
}

.view2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: white;
    color: #fff;
}
.view3 {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(7, 62, 214); */
    color: #000;
    border: 1px solid;
}
.view3 > div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    /* background-color: #0d0d0d; */
    color: black;
    margin: 10px;
}
.view3 form label{
    color: #000;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.view3 form input{
    width: 100%;
    line-height: 1.5rem;
    font-size: 1.5rem;

}
.view3 form button{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
}
.grey{
    background-color: gray;
}
.darkblue{
    background-color: darkblue;
}
.pink{
    background-color: palevioletred;
}
/* .black{
    background-color: black;
} */
.heigth100px{
    height: 7000px;
}


.view4{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(7, 62, 214); */
    color: #000;
    border: 1px solid;
}